div{
    box-sizing: border-box;
    padding-top: 50px;
    padding-right:100px;
}

table{
    width: 80%;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
tr:nth-child(1){
    background-color: black;
}
tr:nth-child(2){
    background-color: #8888ef;
}
tr:nth-child(3){
    background-color: #10b010;
}
tr:nth-child(4){
    background-color: #dbba01;
}
tr:nth-child(5){
    background-color: #be1414;
}
tr:nth-child(6){
    background-color: #00ffff;
}
