
body{
    background: linear-gradient(red, green);
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    text-align: center;
    opacity: 50%;
}

th{
    background-color: #1c80f3;
    color:#ffffff;
}

tr:nth-child(even){
    background-color: #00aaff;
}

tr:nth-child(odd){
    background-color: rgb(188, 238, 238);
}