*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 20px;
    background-color: #605d46;
    display: none;
}

header button{
    padding: 8px 30px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#register{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #6314ad;
    padding: 30px 40px;
    border-radius: 20px;
    /* display: none; */
}

#register .input-reg{
    padding:10px;
    border-radius: 0.5rem;
    border: none;
}

#register input[type=button]{
    margin: auto;
    padding:5px;
    width: 50%;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#register input[type=button]:hover{
    background-color: black;
    color: white;
}

#log-in{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #6314ad;
    padding: 30px 40px;
    border-radius: 20px;
    display: none;
}

#log-in .input-reg{
    padding:10px;
    border-radius: 0.5rem;
    border: none;
}

#log-in input[type=button]{
    margin: auto;
    padding:5px;
    width: 50%;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}


#log-in input[type=button]:hover{
    background-color: black;
    color: white;
}


.p{
    color: #fff;
}

.p span{
    color: #e78585;
    cursor: pointer;
}