*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 20px;
    border: 1px solid black;
}

#div1{
    display: none;
}  

.clas-of-lisst{
    display: flex;
    align-items: center;
    gap: 20px;
}